/* Généralités */
/*html { 
	font-size: 1em;
	background: #f4f5f0;
}*/

body{
    background-color: #ffffff;
    font-family: sans-serif;
}

body.master {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
    background: #f4f5f0;
}

iframe {
    width: 100%;
    height: 800px;
    font-family: sans-serif;
}

#wrapper {
	margin: 0 auto;
	width: 1024px;
}
#presentation {
    background-color: #fcfcf7;
    border-color: #d5d6d1;
    margin: 0 auto;
    
}
ul, li {
	margin: 0;
	padding: 0;
}
a, a:link, a:visited { text-decoration: none; }
a:focus, a:active, a:hover { text-decoration: underline; }
a img { border: 0 }


/* Menus de navigation */
#nav {
	float: left;
	padding-right: 30px;
	width: 360px;
	font-size: 0.875em;
}
#nav div {
	padding-top: 18px;
	background: url('../img/bkg_nav-top.png') no-repeat 0 0;
}
#nav ul {
	margin: 0 0 30px;
	padding: 0 10px 20px;
	list-style: none;
	background: url('../img/bkg_nav-bottom.png') no-repeat 0 100%; 
}
#nav ul.first > li.sub-menu {
    background: url('../img/bkg_nav-middle.png') repeat-y scroll 0 0 transparent;
    margin-left: -10px;
    padding-left: 10px;
    width: 395px;
}
#nav ul.inner {
	margin: 10px 0 0 0;
    padding-bottom: 0;
	list-style: none;
    background: none;
}
#nav li.empty {
	padding-bottom: 12px;
	line-height: 1.071em;
    background: url('../img/bkg_nav-middle.png') repeat-y scroll 0 0 transparent;
    margin-left: -10px;
    padding-left: 10px;
    width: 395px;
}
#nav li {
	padding-bottom: 12px;
	line-height: 1.071em;
}
/*
#nav span.close {
	 background: url('../img/plus.png') no-repeat;
     padding-left: 15px;
}

#nav span.open {
	 background: url('../img/moins.png') no-repeat;
     padding-left: 15px;
}
*/
#nav a { 
	padding-left: 30px;
	color: #2a475d;
}
#nav .active a, #nav a:focus, #nav a:hover { background: url('../img/bkg_nav-active.gif') no-repeat 3px 0 }

/* Contenu principal */
#content {
	margin: 0 0 65px 390px;
	padding-top: 30px;
	width: 700px;
	font-size: 0.813em;
	background: url('../img/bkg_content-top.png') no-repeat 0 0;
}
#content div {
	padding: 0 30px 30px;
	background: url('../img/bkg_content-bottom.png') no-repeat 0 100%;
}
#content p {
	margin: 0 0 10px;
	padding: 0;
	line-height: 1.385em;
}
#content ul { list-style: inside }
#content li { margin-left: 15px }

#content a { color: #ac5303 }
#content a:hover {cursor: pointer;}

#content table { background-color: white; border: #000000 none 0px; width: 100%; border-collapse: collapse;}

#content th {  
    background-color: #2a475d;
}
#content td { 
    border: #2a475d solid 1px; 
}

/* Realeases */
#releases ul { list-style: inside }
#releases li { margin-left: 30px }
#releases li > ul > li { margin-left: 15px; list-style: circle inside; }

#releases span.title { color: #2a475d; font-weight: bold;}

#releases a.surligne, a.surligne:hover { cursor: text; text-decoration: none; border-top: 0px #2a475d none; border-right: 0px #2a475d none; border-left: 0px #2a475d none; border-bottom: 1px #2a475d dotted; color: #2a475d;}

div.faq { padding-left: 30px; }

/* Titres */
h1 {
	margin: 40px 0 50px;
	padding: 0 0 0 40px;
	text-align: center;
    color: #2a475d;
}
h2 {
	margin: 30px 0 15px;
	padding: 0;
	font-size: 1.846em;
	color: #2a475d;
}
h2.first { margin-top: 0 }

h3 {
	margin-left: 30px;
	color: #2a475d;
}

a { color: #ac5303 }
a:hover {cursor: pointer;}

/*a.surligne:focus, a.surligne:active, a.surligne:hover, a.surligne:link, a.surligne:visited { text-decoration: underline; border: 1px #2a475d dotted; }*/
a.surligne, a.surligne:hover { cursor: text; text-decoration: none; border-top: 0px #2a475d none; border-right: 0px #2a475d none; border-left: 0px #2a475d none; border-bottom: 1px #2a475d dotted; color: #2a475d;} 

b { color: #2a475d; font-size: 0.975em;}

table { background-color: #fcfcf7; border: #000000 solid 1px; width: 95%; border-collapse: collapse; padding: 10px;}

th {  
    background-color: #2a475d;
    color: #fcfcf7;
}
td { 
    border: #2a475d solid 1px; 
}

tt { background-color: #ffffff; color: green;}

/* Actualite */
#actualite li {
	margin-left: 0;
	padding: 8px 0;
	text-align: right;
	list-style: none;
	border-top: 1px solid #dad9d6;
}
#actualite .first { border-top: 0 }
#actualite span { 
	float: left;
	color: #ac5303;
}
#actualite span:hover, #actualite span:focus {
	cursor: pointer;
	text-decoration: underline;
}
#actualite .open span { font-weight: bold }
#actualite .open span:hover, #actualite .open span:focus { 
	text-decoration: none;
	cursor: auto;
}
#actualite p {
	padding: 12px 15px 0;
	text-align: left;
}

/* Pied de page */
#footer {
	padding: 23px 0 17px;
	clear:both;
	font-size: 0.813em;
	text-align: center;
	color: #ffffff;
	background: url('../img/bkg_body.gif') repeat-x 0 100%;
}

#footer a { 
    color: #CCCCCC;
}

#footer span {
	margin-right: 4px;
	padding-right: 8px;
	line-height: 1em;
}
