<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="xsl/menu.xsl"?>
<menu>
    <sub-menu title="Accueil" onClick="javascript:displayContentByXsl('data/accueil.xml','xsl/displayAccueil.xsl');">
        <menu-entry onClick="javascript:displayContentByXsl('data/presentation.xml','xsl/displayPresentation.xsl');" href="#">Pr&#233;sentation</menu-entry>
        <menu-entry onClick="javascript:displayContentByXsl('data/accueil.xml','xsl/displayAccueil.xsl');" href="#">Actualit&#233;s</menu-entry>
    </sub-menu>
    <menu-entry onClick="javascript:displayContentByXsl('data/xemelios.xml','xsl/displayXemelios.xsl');">L'outil X&#233;M&#232;Lios</menu-entry>
    <sub-menu title="Sch&#233;mas">
        <menu-entry href="#">Paye</menu-entry>
        <menu-entry onClick="javascript:Xajax('http://xemelios.org/schemas/etat-frais/index.html')" href="#">Etats de frais</menu-entry>        
        <menu-entry href="#">Pes Aller</menu-entry>
    </sub-menu>
    <menu-entry href="#">Utilitaires</menu-entry>
    <menu-entry href="#"><abbr title="Foire aux questions">FAQ</abbr></menu-entry>
</menu>