<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="site/xsl/menu.xsl"?>
<menu>
    <sub-menu title="Accueil" onClick="javascript:displayContentByXsl('site/data/accueil.xml','site/xsl/displayAccueil.xsl');">
        <menu-entry onClick="javascript:displayContentByXsl('site/data/presentation.xml','site/xsl/displayPresentation.xsl');" href="#">Pr&#233;sentation</menu-entry>
        <menu-entry onClick="javascript:displayContentByXsl('site/data/accueil.xml','site/xsl/displayAccueil.xsl');" href="#">Actualit&#233;s</menu-entry>
    </sub-menu>
    <menu-entry onClick="javascript:displayContentByXsl('site/data/xemelios.xml','site/xsl/displayXemelios.xsl');">L'outil XeMeLios</menu-entry>
    <sub-menu title="Sch&#233;mas" onClick="javascript:displayContentByXsl('site/data/schemas.xml','site/xsl/displaySchemas.xsl');">
        <menu-entry onClick="javascript:Xajax('http://xemelios.org/schemas/pes-v2.0/index.html')" href="#">PES (Protocole d’Echange Standard)</menu-entry>
        <sub-menu title="Pièces justificatives">
            <menu-entry onClick="javascript:Xajax('http://xemelios.org/schemas/asp/index.html')" href="#">ASAP</menu-entry>
            <menu-entry onClick="javascript:Xajax('http://xemelios.org/schemas/bourses/index.html')" href="#">Bourses de l'Etat</menu-entry>
            <menu-entry onClick="javascript:Xajax('http://xemelios.org/schemas/carte-achat/index.html')" href="#">Carte Achat</menu-entry>
            <menu-entry onClick="javascript:Xajax('http://xemelios.org/schemas/cfg-paye/index.html')" href="#">Etat de Paye</menu-entry>
            <menu-entry onClick="javascript:Xajax('http://xemelios.org/schemas/AideSociale/index.html')" href="#">Etat de Versement</menu-entry>
            <menu-entry onClick="javascript:Xajax('http://xemelios.org/schemas/pes-facture/index.html')" href="#">Facture PES</menu-entry>
            <menu-entry onClick="javascript:Xajax('http://xemelios.org/schemas/etat-frais/index.html')" href="#">Frais de déplacement</menu-entry>
            <menu-entry onClick="javascript:Xajax('http://xemelios.org/schemas/quittancement/index.html')" href="#">Quittancement</menu-entry>
        </sub-menu>
    </sub-menu>
    <sub-menu href="#" title="Utilitaires" onClick="javascript:displayContentByXsl('site/data/utilitaires.xml','site/xsl/displayUtilitaires.xsl');">
        <menu-entry href="https://adullact.net/frs/download.php/3994/csv2xml-1.1.0.zip">Convertisseur carte achat</menu-entry>
        <!--menu-entry href="#">Utilitaire de changement de mot de passe</menu-entry>
        <menu-entry href="#">Ccleaner</menu-entry>
        <menu-entry href="#">Xemelios reader</menu-entry>
        <menu-entry href="#">Utilitaire PDF</menu-entry>
        <menu-entry href="#">Outils compagnons</menu-entry-->
    </sub-menu>
    <sub-menu href="#" title="Foire aux questions (FAQ)" onClick="javascript:displayContentByXsl('site/data/FAQ.xml','site/xsl/displayFAQ.xsl');">
        <menu-entry onClick="javascript:Xajax('site/data/FAQ-generales.html')" href="#">FAQ Générales</menu-entry>
        <menu-entry onClick="javascript:Xajax('site/data/FAQ-techniques.html')" href="#">FAQ Techniques</menu-entry>
        <menu-entry onClick="javascript:Xajax('site/data/FAQ-editeurs.html')" href="#">FAQ Editeurs</menu-entry>
    </sub-menu>
</menu>
